[Ll]ibrary/
[Tt]emp/
[Oo]bj/
UnityGenerated/
ProjectSettings/*.asset
 
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

*.html
*.unity3d